.sabnzbd-complete {
  background-color: #dfd;
}
.sabnzbd-failed {
  background-color: #fdd;
}
.sickbeard-today {
  background-color: #dfd;
}

.sickbeard-missed {
  background-color: #fdd;
}
.sickbeard-soon {
  background-color: #f5f1e4;
}
.sickbeard-search {
  cursor: pointer;
}

.headphones-processed {
  background-color: #dfd;
}
.headphones-snatched {
  background-color: #f5f1e4;
}
.headphones-unprocessed {
  background-color: #fdd;
}

.tooltip {
  font-size: 18 px;
}
.tooltip-inner {
  max-width: 600 px;
}

.container {
  display: none;
}
